.VideoPcElm {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

.VideoPcElm_face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.VideoPcElm_waiting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

.VideoPcElm_settings {
    // display: none;
    position: absolute;
    bottom: 48px;
    right: 12px;

    width: 250px;
    max-height: calc(100% - 96px);
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.9);
    overflow-x: hidden;
    overflow-y: auto;

    line-height: 16px;
    font-size: 14px;
    color: white;

    &::-webkit-scrollbar {
        display: none;
    }
}
.VideoPcElm_settings-open {
    display: block;
}
