.VideoUtilsLayout {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 1;
    visibility: visible;
    transition: all 200ms ease-in-out;
}
.VideoUtilsLayout-out {
    opacity: 0;
    visibility: hidden;
}
